<br>
<h2><%= @user.name%>さんのプロフィール</h2>
<br>
<br>

<h4>ユーザー名：<%= @user.name %></h4>

<br>

<div>
  <%= link_to edit_user_registration_path ,class: 'btn btn-outline-secondary' do%>
    編集する
  <% end %>
</div>
<%= link_to '戻る', kpts_path %>