/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";
body{
  text-align:center;
  color:	#333333	;
  height: 100%;
  
  a:link {color: #666; text-decoration:none }
  a:hover { color:#FFCC99; text-decoration:none; 
            background-color:transparent;}
  a{
  font-size:20px;
            }
  }  
table {
    margin-right: auto;
  }
header {
  color:white;
  font-size:25px;
  background: linear-gradient(#FFCC99,#FFCCCC);

  height:80px;
  z-index: 9999;
  top: 0px;
  padding-top: 20px;
  margin: 0px auto 10px auto;
  text-align:center;
  a:hover { color:#FFFFEE; text-decoration:none; 
    background-color:transparent;}
  
  }

footer {
  background: linear-gradient(#FFCC99,#FFCCCC);
  text-align:center;
  margin-top: 50px;
  height: 50px;
  padding-bottom: 0px;
  padding-top: 10px;
  bottom: 0; /*下に固定*/
  width: 100%;
  position: sticky;
  top: 100vh;

  }
td{
  padding:10px 10px 10px;
  }

table{
  padding-bottom: 100px;
}

